body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #666;
}
#main {
    max-width: 960px;
    display: block;
    margin: auto;
}
.clear-fix {
    overflow: auto;
}
.education-entry,
.work-entry,
.project-entry {
    padding: 1% 5% 1% 5%;
    border: 1px solid white;
}
h1 {
    font-size: 40px;
    color: #3cc;
    line-height: 48px;
    display: inline;
    font-weight: 700;
    padding: 10px 5%;
}
h2 {
    font-weight: 100;
    font-size: 1.8em;
    color: #3cc;
    line-height: 1.5em;
    padding: 10px;
    background-color: #e0f7f9;
}
h3 {
    font-weight: 100;
    font-size: 1.4em;
    color: #3cc;
    line-height: 22px;
}
h4 {
    font-weight: 100;
    font-size: 1.2em;
    color: #4a4a4a;
    line-height: 17px;
}
h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}
hr {
    border-top: 1px dotted #8c8b8b;
}
.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}
p {
    font-size: 14px;
    color: #666;
    line-height: 21px;
}
a {
    color: #3cc;
    text-decoration: none;
    display: block;
}
.contact-link {
    color: #666;
    text-decoration: none;
    display: inherit;
}
.my-background-color {
    background-color: #3cc;
}
.my-color {
    color: #3cc;
}
.uppercase {
    text-transform: uppercase;
}
.gray-text {
    color: #666;
    line-height: 1.5em;
    font-weight: 300;
}
.contact-title {
    color: #3cc;
    line-height: 1.5em;
    font-weight: 700;
}
.contact-text {
    color: #666;
    line-height: 1.5em;
    font-weight: 300;
}
.white-text {
    font-weight: 700;
    color: #fff;
}
.gray {
    background-color: #fbfbfb;
    clear: both;
}
.dark-gray {
    background-color: #4a4a4a;
}
/* TODO: Replace with image later */

#header {
    //  background-color: #484848;
    //  background-image: url("images/back.jpg");
}
.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5%;
    background-color: #fbfbfb;
}
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1px;
}
.flex-item {} .center-content {
    padding-top: 2.5%;
}
ul {
    list-style-type: none;
}
#bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.biopic-container {} .biopic {
    background-color: #fff;
    padding: 3px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.welcome-message {
    align-self: center;
    margin-right: auto;
    margin-left: 5%;
    font-style: italic;
    font-weight: 100;
    font-size: 1.2em;
    color: #ccc;
    line-height: 1.5em;
}
.skills-container {
    align-self: right;
    margin: auto;
    margin-right: 5%;
}
#skills {
    flex-direction: row;
    align-self: flex-end;
    width: 100%
}
#skills-title {
    flex-direction: row;
    align-self: flex-end;
    padding-top: 2%;
    color: #3cc;
    padding: 0px 0px;
}
.skills-text {
    padding-top: 1%;
    color: #666;
    font-weight: 300;
    font-size: 0.75em;
    font-style: italic;
}
img {
    padding: 10px;
}
span {
    padding: 5px;
}
#lets-connect {
    padding-top: 2%;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {} @media only screen and (max-width: 900px) {
    .biopic {
        width: 175px;
        height: 175px;
    }
}
@media only screen and (max-width: 770px) {
    .biopic {
        width: 150px;
        height: 150px;
    }
    .welcome-message {
        font-size: 0.9em;
    }
    #lets-connect {
        margin-top: 5%;
    }
    #skills-title {
        font-size: 1.2em;
}
    .skills-text {
        font-size: 0.7em;
}
}
@media only screen and (max-width: 650px) {
    .flex-box {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 5%;
        background-color: #fbfbfb;
    }
    .skills-container {
        width: 100%;
        display: block;
        margin: 0;
        padding-left: 5%;
        background-color: #fbfbfb;
    }
    #role {
        display: block;
        padding-left: 5%;
    }
}
#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}
#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}
@media only screen and (max-width: 500px) {
    #lets-connect {
        margin-top: 15%;
}
@media only screen and (max-width: 360px) {
    .welcome-message {
        display: none;
    }
    #name {
        font-size: 30px;
    }
    .contact-text {
        font-size: 90%;
    }
    #lets-connect {
        margin-top: 30%;
    }
}